@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

:root {
  --mainBgColor-dark: #131415;
  --mainBgColor-light: rgb(249, 250, 251);
  --mainBgColor: var(--mainBgColor-dark);

  --mainBorderColor-dark: #2b3031;
  --mainBorderColor-light: rgb(218, 218, 218);
  --mainBorderColor: var(--mainBorderColor-dark);

  --mainLinkColor-dark: rgb(30, 190, 214);
  --mainLinkColor-light: #0da2b8;
  --mainLinkColor: var(--mainLinkColor-dark);

  --mainTextColor-dark: #fff;
  --mainTextColor-light: #000;
  --mainTextColor: var(--mainTextColor-dark);

  --secondaryTextColor-dark: #adb0b1;
  --secondaryTextColor-light: rgb(51 51 51);
  --secondaryTextColor: var(--secondaryTextColor-dark);

  --transition-duration: 0.3s;
  --transition-duration-long: 0.9s;

  --margin-auto: 0 auto;
  --margin-bottom: 0.5em;
  --margin-bottom-short: 1em;
  --margin-bottom-long: 2em;

  --text-decoration: none;

  --padding: 1em;

  --display: flex;
}

* {
  box-sizing: border-box;
  color: var(--mainTextColor);
  font-family: "Readex Pro";
  margin: var(--margin-auto);
  overflow: hidden;
  padding: auto;
  transition: var(--transition-duration);
  text-align: center;
}

p,
h3,
span,
li {
  color: var(--secondaryTextColor);
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: var(--margin-bottom);
  transition: var(--transition-duration);
}

a {
  color: var(--mainLinkColor);
  font-weight: 500;
  text-decoration: var(--text-decoration);
  transition: var(--transition-duration);
}

li {
  line-height: 1.9em;
  margin-bottom: var(--margin-bottom);
  transition: var(--transition-duration);
}

strong {
  font-weight: 600;
  color: var(--mainTextColor);
}

#container--main {
  margin: var(--margin-auto);
  max-width: 960px;
  padding: var(--padding);
  transition: var(--transition-duration);
}

#wrapper--hero {
  display: flex;
  gap: 4em;
  justify-content: space-between;
  margin-bottom: var(--margin-bottom-long);
  transition: var(--transition-duration);
}

#user-name {
  line-height: 1em;
  margin-bottom: var(--margin-bottom);
  transition: var(--transition-duration);
}

#profile-pic {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  object-fit: cover;
  transition: var(--transition-duration);
}

#email {
  color: var(--mainTextColor);
  margin-bottom: var(--margin-bottom);
  text-decoration: var(--text-decoration);
  transition: var(--transition-duration);
}

#socials--list {
  column-gap: 1em;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: var(--margin-bottom);
  row-gap: 1em;
  transition: var(--transition-duration);
}

#socials--list a {
  color: var(--secondaryTextColor);
  transition: var(--transition-duration-long);
}

#socials--list a:hover {
  color: var(--mainLinkColor);
  font-size: 0.9em;
  font-weight: 100;
  transition: var(--transition-duration-long);
}

#qualifications--list {
  list-style: none;
  margin-bottom: var(--margin-bottom);
  transition: var(--transition-duration);
}

#wrapper--techstack__items {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: var(--margin-bottom);
  transition: var(--transition-duration);
}

.card--techstack {
  border-radius: 5px;
  border: 1px solid var(--mainBorderColor);
  padding: var(--padding);
  transition: var(--transition-duration);
  width: 100%;
}

.card--project {
  border-top: 1px solid var(--mainBorderColor);
  padding: var(--padding);
  transition: var(--transition-duration);
  width: 100%;
}

.card--project a {
  color: var(--mainTextColor);
  transition: var(--transition-duration);
}

.card--project a:hover {
  color: rgb(30, 190, 214);
  font-size: 0.9em;
  font-weight: 100;
  transition: var(--transition-duration);
}

.card--work-history {
  border: 1px solid var(--mainBorderColor);
  border-radius: 5px;
  margin-bottom: var(--margin-bottom);
  padding: var(--padding);
  transition: var(--transition-duration);
  width: 100%;
}

.line-break {
  background-color: var(--mainBorderColor);
  height: 1px;
  margin: 1em 0;
  width: 100%;
  transition: var(--transition-duration);
}

@media (max-width: 960px) {
  #wrapper--hero {
    align-items: center;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--margin-bottom);
    transition: var(--transition-duration);
  }

  #profile-pic {
    height: 200px;
    width: 200px;
    transition: var(--transition-duration);
  }

  #wrapper--hero {
    flex-direction: column;
    transition: var(--transition-duration);
  }
}
