@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

:root {
  --mainBgColor-dark: #131415;
  --mainBgColor-light: rgb(249, 250, 251);
  --mainBgColor: var(--mainBgColor-dark);

  --mainBorderColor-dark: #2b3031;
  --mainBorderColor-light: rgb(218, 218, 218);
  --mainBorderColor: var(--mainBorderColor-dark);

  --mainLinkColor-dark: rgb(30, 190, 214);
  --mainLinkColor-light: #0da2b8;
  --mainLinkColor: var(--mainLinkColor-dark);

  --mainTextColor-dark: #fff;
  --mainTextColor-light: #000;
  --mainTextColor: var(--mainTextColor-dark);

  --secondaryTextColor-dark: #adb0b1;
  --secondaryTextColor-light: rgb(51 51 51);
  --secondaryTextColor: var(--secondaryTextColor-dark);
}

* {
  box-sizing: border-box;
  color: var(--mainTextColor);
  font-family: "Readex Pro";
  margin: 0 auto;
  overflow: hidden;
  padding: auto;
}

p,
h3,
span,
li {
  color: var(--secondaryTextColor);
}

a {
  color: var(--mainLinkColor);
  font-weight: 500;
  text-decoration: none;
}

li {
  line-height: 1.9em;
}

strong {
  font-weight: 600;
  color: var(--mainTextColor);
}

#container--main {
  margin: 0 auto;
  max-width: 700px;
}

#wrapper--hero {
  display: flex;
  gap: 4em;
}

#user-name {
  line-height: 1em;
}

#profile-pic {
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
  width: 150px;
}

#email {
  color: var(--mainTextColor);
}

#socials--list {
  column-gap: 1em;
  display: flex;
}

#socials--list a {
  color: var(--secondaryTextColor);
  transition: 0.9s;
}

#socials--list a:hover {
  color: var(--mainLinkColor);
  font-size: 0.9em;
  font-weight: 100;
}

#qualifications--list {
  list-style: none;
}

#wrapper--techstack__items {
  display: flex;
  gap: 1em;
}

.card--techstack {
  border-radius: 5px;
  border: 1px solid var(--mainBorderColor);
}

.card--project {
  border-top: 1px solid var(--mainBorderColor);
}

.card--project a {
  color: var(--mainTextColor);
  transition: 0.3s;
}

.card--project a:hover {
  color: rgb(30, 190, 214);
}

.card--work-history {
  border: 1px solid var(--mainBorderColor);
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1em;
}

.line-break {
  background-color: var(--mainBorderColor);
  height: 1px;
}

@media (max-width: 960px) {
  #wrapper--hero {
    align-items: center;
    display: flex;
    gap: 1em;
  }

  #profile-pic {
    height: 200px;
    width: 200px;
  }

  #wrapper--hero {
    flex-direction: column;
  }
}
